# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: juampynr/drupal8ci:latest

    working_directory: /var/www/html

    steps:
      - checkout

      - run:
          name: Build Drupal skeleton with Composer Drupal Project
          command: |
            composer create-project drupal-composer/drupal-project:8.x-dev drupal --stability dev --no-interaction

      - run:
          name: Run setup script
          command: |
            cp setup.sh drupal
            cd drupal
            ./setup.sh
